@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Young+Serif&display=swap');

:root {
    /* Colors */
    --dark-charcoal: #312e2c;
    --brandy-red: #854632;
    --wenge-brown: #5f564d;
    --nutmeg: #854632;
    --dark-raspberry: #7b284f;
    --rose-white: #fff5fa;
    --eggshell: #f3e6d8;
    --light-grey: #e4ded8;
    --snow: #FFF7FB;
    --white-coffee: #e3ddd7;

    /* Weights */
    --regular: 400;
    --bold: 600;
    --extrabold: 700;
}

html {
    background-color: #F3E5D7;
}

body {
    margin: 0;
}

img {
    width: 100%;
    border-radius: 12px;
}

@media (max-width: 375px) {
    img {
        border-radius: 0;
        margin: 0 !important;
    }
}

.container {
    max-width: 736px;
    background-color: white;
    padding: 40px;
    padding-bottom: 0px;
    border-radius: 24px;
    margin: 60px auto;
}

@media (max-width: 375px) {
    .container {
        max-width: 100%;
        margin: 0;
        border-radius: 0;
        padding: 0;
    }

    .container>* {
        margin-left: 32px;
        margin-right: 32px;
    }
}

.main-heading {
    font-family: "Young Serif", serif;
    font-weight: var(--regular);
    color: var(--dark-charcoal, black);
    font-size: 40px;
}

.section-header {
    font-family: "Young Serif", serif;
    font-weight: var(--regular);
    color: var(--brandy-red, brown);
    font-size: 28px;
}

.preparation-box {
    padding: 28px;
    padding-bottom: 18px;
    background-color: var(--snow, snow);
    border-radius: 12px;
    margin: 32px 0 32px 0;
}

@media (max-width: 375px) {
    .preparation-box {
        margin: 32px;
    }
}

.preparation-box h3 {
    font-family: "Outfit", sans-serif;
    font-weight: var(--extrabold, 700);
    color: var(--brandy-red, brown);
    font-size: 20px;
    margin: 0;
    margin-bottom: 16px;
}

ol,
ul {
    padding-left: 20px;
    margin: 0;
}

.preparation-box ul li::marker {
    color: var(--dark-raspberry, maroon);
}

li {
    padding-left: 20px;
    margin-bottom: 10px;
}

ul li::marker {
    content: "⦁";
    font-size: 14px;
    color: var(--brandy-red);
}

ol li::marker {
    font-weight: var(--bold);
    color: var(--brandy-red);
}

section {
    margin: 0;
}

.ingredients {
    margin-bottom: 32px;
}

.instructions {
    margin-top: 32px;
    margin-bottom: 32px;
}

.nutrition {
    margin-top: 32px;
}

h1 {
    margin: 40px 0 24px 0;
}

h2 {
    margin: 0;
    margin-bottom: 24px;
}

p {
    margin: 0;
    margin-bottom: 24px;
}

hr {
    border: 1px solid var(--white-coffee);
    margin: 0;
}

.text {
    font-family: "Outfit", sans-serif;
    font-size: 16px;
    line-height: 150%;
    color: var(--wenge-brown, black);
}

.text-regular {
    font-weight: var(--regular);
}

.text-bold {
    font-weight: var(--bold);
}

.nutrition table tbody tr td:last-child {
    color: var(--brandy-red, brown);
}

table {
    width: 100%;
    border-collapse: collapse;
}

tr {
    border-bottom: 1px solid var(--white-coffee);
    height: 40px;
}

tr:last-child {
    border: none;
}

tr .text-regular {
    width: 50%;
    padding-left: 30px;
}

.attribution {
    height: 40px;
    padding-top: 10px;
    font-size: 12px;
    font-family: "Outfit", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}