@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Young+Serif&display=swap');

:root {
    /* Colors */
    --dark-charcoal: #312e2c;
    --brandy-red: #854632;
    --wenge-brown: #5f564d;
    --nutmeg: #854632;
    --dark-raspberry: #7b284f;
    --rose-white: #fff5fa;
    --eggshell: #f3e6d8;
    --light-grey: #e4ded8;

    /* Weights */
    --regular: 400;
    --bold: 600;
    --extrabold: 700;
}

html {
    background-color: #F3E5D7;
}

img {
    max-width: 100%;
    border-radius: 12px;
}

.container {
    max-width: 736px;
    background-color: white;
    padding: 30px;
    border-radius: 24px;
    margin: 60px auto;
}

.main-heading {
    font-family: "Young Serif", serif;
    font-weight: var(--regular);
    color: var(--dark-charcoal, black);
    font-size: 40px;
}

.section-header {
    font-family: "Young Serif", serif;
    font-weight: var(--regular);
    color: var(--brandy-red, brown);
    font-size: 28px;
}

.preparation-box h3 {
    font-family: "Outfit", sans-serif;
    font-weight: var(--extrabold, 700);
    color: var(--brandy-red, brown);
    font-size: 20px;
}

.text-normal {
    font-family: "Outfit", sans-serif;
    font-size: 16px;
    font-weight: var(--regular);
    line-height: 150%;
    color: var(--wenge-brown, black);
}